@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');



html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

/* Media query for small phones */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}


@media (min-width: 769px) {
  body {
    font-size: 18px;
  }
}